/* top page fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
/* navbar fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
html
{
  scroll-behavior: smooth;
}

body
{
  margin: 0;
  position: relative;
}

/* 文字デザイン */
h1
{
  position: absolute;
  right: 27vw;
  top: 32%;
  font-size: 4em;
  animation: feadInBox 6s;
  font-family: 'PT Serif', serif;
}

h2{
  position: absolute;
  right: 26vw;
  top: 35%;
  font-size: 3.5em;
  animation: feadInBox 10s;
  color: rgba(0,0,0,0.5);
  margin-top: 8%;
  font-family: 'PT Serif', serif;

}

h3
{
 text-align: center;
 margin-top: 2%;
 margin-bottom: 5%;
 font-size: 2em;
}

h3 span
{
  /* font-size: 1.1em; */
  color: #006699;
}


h3 span.servisetext
{
  
  color: #fff;
}
p.subtext
{
  text-align: center;
  font-size: 1.3em;
  color: #ccc;
  margin-top: -5%;
}

/* ヘッダー */

header
{
  width: 100vw;
  height: 80px;
  position: fixed;
  z-index: 100;
  background-color: white;
}

/* ナビゲーション */


.listcontain
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1.5%;
  margin-right: 3%;
}


/* ナビゲーションリスト */
a.list
{
  font-size: 1.2em;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  color: #222222;
  font-family: 'Libre Baskerville', serif;
  font-weight: 600;
}

/* ナビゲーションリストホバーエフェクト */
a.list:hover
{
  color: #006699;
  font-size: 1.32em;
}

/* トップページ */
#hoge
{
    width: 100%;
    height: 100vh;
    margin:0 auto;
    background-color: white;
    position: relative;
    animation: feadInBox 7s;
  }


/* トップページのテキストのフェード */
@keyframes feadInBox
{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}

/* about */

#about
{
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
}


.aboutmecontents
{
   width: 60%;
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 400px;
    margin: 0 auto;
    padding-top: 5%;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: center;

}
/* aboutの写真 */
.aboutpic
{
  width: 300px;
  height: auto;
  border-radius: 10%;
  grid-row: 1 / 2;
  grid-column: 1 / 1;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  background-color: #00669918;
}
/* aboutのテキスト */
.aboutmetext
{
  text-align: left;
  font-size: 1.5em;
  padding-left: 10%;
  padding-top: 5%;
  grid-row: 1 / 2;
  grid-column: 2 / 2;
}
/* アバウトのスライドイン */
/* .fadein {
	opacity : 0;
	transform : translate(-200px, 100px);
	transition : all 3000ms;
	} */

  .fadein2 {
    opacity : 0;
    transform : translate(200px, 30px);
    transition : all 2300ms;
    }
  
/* 画面内に入った状態 */
.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
  }
  .fadein2.scrollin {
    opacity : 1;
    transform : translate(0, 0);
    }
  

/* アイコン */
.about_icon
{
  display: flex;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  margin-top: -20%;
  justify-content: left;
  align-items: center;
  margin-right: 30%;
  
}

.icon
{
  width: 50px;
  padding: 20%;
}

.icon:hover
{
 transform: rotatez(20deg);
}


/* スキル */

#skills
{
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  
}

/* サービス */
#services
{
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  background-color:#006699;
  
}

/* カード */
.card-container
{
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap; 
  
}

.card .cardicon
{
  position: absolute;
  width: 60px;
  top: 3%;

}

.card-container .card
{
  position: relative;
  width: 330px;
  height: 450px;
  margin: 30px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 15px;
  background: rgba(255,255,255,0.03);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 3px 2px 2px rgba(0,0,0,0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  padding-top: 3%;
}


.card-container .card .cardcontent
{
  position: relative;
  text-align: center;
  transition: 1s;
  transform: translateY(130px);
   opacity: 0;
  
}

.card-container .card:hover .cardcontent
{
  transform: translateY(30px);
  opacity: 1;
}

.cardcontent
{
  padding: 15px;
  
}

.card-container .card .cardcontent h5
{
  font-size: 1.8em;
  color: #ffffff;
  
}

.card-container .card .cardcontent p
{
  margin-top: -3%;
  font-size: 1.2em;
  color: #ffffff;
  text-align: left;
  
}


/*ワークス */
#works
{
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
}

/* コンタクト */
#contact
{
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
}