@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');


body
{
  margin: 0 auto;
  position: relative;
 
}
/* ヘッダー */

/* ナビゲーション */
nav
{
  background-color: #ffffff;
}

nav ul a {
  transition: background-color .3s;
  font-size: 1.2rem;
  color: rgba(0,0,0,0.5);
  display: block;
  padding: 0 40px;
  cursor: pointer;
}
/* トップページ */

#hoge
{
    width: 100%;
    height: auto;
    margin:0 auto;
    background-color: white;
    position: relative;
    animation: feadInBox 7s;
  }

h1
{
  position: absolute;
  right: 31vw;
  top: 27%;
  font-size: 4em;
  animation: feadInBox 8s;
  font-family: 'PT Serif', serif;
}

h2{
  position: absolute;
  right: 31vw;
  top: 30%;
  font-size: 3.5em;
  animation: feadInBox 22s;
  color: rgba(0,0,0,0.5);
  margin-top: 8%;
  font-family: 'PT Serif', serif;

}


@keyframes feadInBox
{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}
